__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

venv/
.env/
*.env

.DS_Store

node_modules/
build/
dist/
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pid
*.sock
*.tar
*.gz

tmp/
*.bak
*.swp
*.sqlite3
*.db
